---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About me :)">
  <div class="w-full h-screen flex flex-col items-center">
    <div class="w-[60%] h-[10%] mt-32 mb-16 flex justify-center">
      <h4 class="text-6xl font-extrabold">
        ABOUT <span class="text-blue-400">ME</span>
      </h4>
    </div>
    <div class="flex w-[60%] justify-between">
      <div class="w-[50%]">
        <h5 class="text-2xl font-bold">PERSONAL INFOS</h5>
        <div>
          <table class="w-full text-xl">
            <tr>
              <td class="py-3">First Name: <b>Arnold</b></td>
              <td class="py-3">Email: <b>olanda188@gmail.com</b></td>
            </tr>
            <tr>
              <td class="py-3">Last Name: <b>Olanda</b></td>
              <td class="py-3">Nationality: <b>Peruvian</b></td>
            </tr>
            <tr>
              <td class="py-3">Age: <b>26 years</b></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="grid grid-cols-2 grid-rows-2 gap-6">
        <div class="w-[265px] h-[160px] border border-gray-700 p-8">
          <span class="text-5xl font-bold text-blue-400">13+</span>
          <div class="flex gap-2">
            <div class="mt-2 w-[30px] h-[1px] rounded-full bg-gray-400"></div>
            <div class="flex flex-col">
              <span>YEARS OF</span>
              <span>EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="w-[265px] h-[160px] border border-gray-700 p-8">
          <span class="text-5xl font-bold text-blue-400">15+</span>
          <div class="flex gap-2">
            <div class="mt-2 w-[30px] h-[1px] rounded-full bg-gray-400"></div>
            <div class="flex flex-col">
              <span>YEARS OF</span>
              <span>EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="w-[265px] h-[160px] border border-gray-700 p-8">
          <span class="text-5xl font-bold text-blue-400">24+</span>
          <div class="flex gap-2">
            <div class="mt-2 w-[30px] h-[1px] rounded-full bg-gray-400"></div>
            <div class="flex flex-col">
              <span>YEARS OF</span>
              <span>EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="w-[265px] h-[160px] border border-gray-700 p-8">
          <span class="text-5xl font-bold text-blue-400">21+</span>
          <div class="flex gap-2">
            <div class="mt-2 w-[30px] h-[1px] rounded-full bg-gray-400"></div>
            <div class="flex flex-col">
              <span>YEARS OF</span>
              <span>EXPERIENCE</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
