---
import ProjectItem from "../components/ProjectItem.astro";
import { projectItems } from "../data/projectItems";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio :)">
  <div class="relative flex min-h-screen flex-col items-center pb-20">
    <div class="mb-16 mt-32 flex h-[10%] w-[60%] justify-center">
      <h4 class="text-6xl font-extrabold">
        MI <span class="text-blue-400">PORTAFOLIO</span>
      </h4>
    </div>
    <div class="z-[20] grid w-[75%] grid-cols-1 gap-6 md:grid-cols-3">
      {
        projectItems.map((item) => (
          <ProjectItem id={item.id} title={item.title} img={item.img.src} />
        ))
      }
    </div>
  </div>
</Layout>
