---
---


  <div class="flex gap-8 h-screen p-4 justify-center items-center">
   
    <div
      class="w-[30%] h-[80%] bg-gray-700 z-10 flex justify-center rounded-3xl overflow-hidden"
    >
      <img
        src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        class="w-[100%] h-[100%] object-cover"
        alt=""
      />
    </div>

    <div
      class="w-[55%] h-[80%] z-10 px-40 flex flex-col items-center justify-center"
    >
      <div class="flex flex-nowrap items-center gap-4">
        <div class="bg-blue-400 w-8 h-1 rounded-full"></div>
        <h1 class="text-blue-400 text-5xl font-bold">¡HOLA! SOY ARNOLD</h1>
      </div>
      <h3 class="text-5xl font-bold mb-8">FULLSTACK DEVELOPER</h3>
      <p class="leading-loose">
        Hola, soy Arnold, desarrollador web Fullstack con 4 años de pasión por la programación. Graduado en Ingeniería de Sistemas, he desarrollado proyectos personales y universitarios que fortalecieron mi enfoque práctico y creativo. Soy productivo, adaptable y siempre estoy listo para asumir nuevos retos y seguir aprendiendo.
      </p>
      <div class="w-full flex justify-start mt-10">
        <button
          class="h-12 w-52 rounded-full border-blue-400 border-[1px] hover:bg-blue-400 transition-all flex justify-center items-center gap-2"
        >
          MÁS SOBRE MÍ
          <svg
            class="w-6 h-6text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 12H5m14 0-4 4m4-4-4-4"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>


