---

---

<div
  class="flex h-screen flex-col items-center justify-center gap-8 p-4 md:flex-row"
>
  <div
    class="z-10 mt-10 flex h-[30%] w-[80%] justify-center overflow-hidden rounded-3xl bg-gray-700 md:h-[80%] md:w-[30%]"
  >
    <img
      src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      class="h-[100%] w-[100%] object-cover"
      alt=""
    />
  </div>

  <div
    class="z-10 flex w-full flex-col items-center justify-center md:h-[80%] md:w-[55%] md:px-40"
  >
    <div class="flex flex-nowrap items-center gap-4">
      <div class="h-1 w-8 rounded-full bg-blue-400"></div>
      <h1 class="text-5xl font-bold text-blue-400">¡HOLA! SOY ARNOLD</h1>
    </div>
    <h3 class="mb-8 text-5xl font-bold">FULLSTACK DEVELOPER</h3>
    <p class="leading-loose">
      Hola, soy Arnold, desarrollador web Fullstack con 4 años de pasión por la
      programación. Graduado en Ingeniería de Sistemas, he desarrollado
      proyectos personales y universitarios que fortalecieron mi enfoque
      práctico y creativo. Soy productivo, adaptable y siempre estoy listo para
      asumir nuevos retos y seguir aprendiendo.
    </p>
    <div class="mt-10 flex w-full justify-start">
      <a
        href="https://drive.google.com/file/d/1YxsFRl9ngMNnqXYPID1M9XNweiXYzIBm/view?usp=sharing"
        target="_blank"
        rel="noopener noreferrer"
        class="mr-6 flex h-12 w-52 items-center justify-center gap-2 rounded-full bg-blue-400 font-bold transition-all hover:bg-blue-500"
        >Ver currículum</a
      >
      <a
        href="/about"
        class="flex h-12 w-52 items-center justify-center gap-2 rounded-full border-[1px] border-blue-400 transition-all hover:bg-blue-400"
      >
        Acerca de mí
        <svg
          class="h-6text-white w-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 12H5m14 0-4 4m4-4-4-4"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
