---
import { menuItems } from "../data/menuItems";
---

<div class="fixed right-4 top-[30%] z-50 flex flex-col gap-4">
  {
    menuItems.map((item) => (
      <a
        href={item.url}
        class="nav-link group relative flex h-10 w-10 items-center justify-center rounded-full border-0 bg-gray-800 transition-all duration-300 hover:bg-blue-400 md:h-14 md:w-14"
      >
        <img
          src={item.icon}
          alt={item.text}
          class="h-4 w-4 text-gray-800 md:h-6 md:w-6 dark:text-white"
        />
        <span class="absolute right-0 top-0 -z-10 flex h-full items-center justify-center rounded-full bg-blue-400 pl-6 pr-8 opacity-0 transition-all duration-300 group-hover:-translate-x-6 group-hover:rounded-r-none group-hover:opacity-100">
          {item.text}
        </span>
      </a>
    ))
  }
</div>

<style scoped>
  div a.active {
    background-color: rgb(96 165 250);
  }
</style>

<script>
  const navLinks = document.querySelectorAll(
    ".nav-link",
  ) as NodeListOf<HTMLAnchorElement>;
  const currentPath = window.location.href;

  navLinks.forEach((link) => {
    console.log(link.href, currentPath);
    const linkPath = link.href;
    if (linkPath === currentPath) {
      link.classList.add("active");
    }
  });
</script>
