---
import type { GetStaticPaths } from 'astro';
import Layout from '../../layouts/Layout.astro';
import { projectItems } from '../../data/projectItems';
import Layout2 from '../../layouts/Layout_2.astro';

const { id } = Astro.params;

// export const prerender = false;

export const getStaticPaths = (() => {
  return projectItems.map((project) => ({
    params: {
      id: project.id,
    },
  }));
}) satisfies GetStaticPaths;
const project = projectItems.find((project) => project.id === Number(id));
---

<Layout2 title="Artidev :)">
  <div class="w-[100%] h-screen flex justify-center pt-6">
    <div class="w-[50%] h-[50%] flex items-center">
      <div class="w-[50%] p-2">
        <img
          transition:name={`image${project?.id}`}
          src={project?.img}
          alt=""
          class="w-[100%] h-[80%] rounded-md object-cover"
        />
      </div>
      <div class="p-2 w-[50%]">
        <h4 class="text-4xl">{project?.title}</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
          aspernatur consequuntur eaque. Iure porro eveniet velit laudantium
          officia perspiciatis quis molestias, ad magni sit ex, quae, labore
          dolores distinctio! Suscipit?
        </p>
      </div>
    </div>
  </div>
</Layout2>
